{% extends "base.html" %}

{% block content %}
        <h1>My film catalogue</h1>

        <h3>Type a film title to search</h3>

        <form action="/index" method="post" novalidate>
            <p>
                <label for="title">Title</label><br>
                <input id="title" name="title" required size="100" type="text" value=""><br>
                
            </p>
            <p><input id="submit" name="submit" type="submit" value="Search"></p>
        </form>
       
{% endblock %}